audioop-lts
audioread
build
certifi
cffi
charset-normalizer
click
decorator
ffmpeg-python
future
idna
joblib
lazy_loader
librosa
llvmlite
msgpack
mypy
numba
numpy
packaging
pip-tools
platformdirs
pooch
pycparser
pyproject_hooks
pytest
requests
ruff
scikit-learn
scipy
soundfile
soxr
standard-aifc
standard-chunk
standard-sunau
threadpoolctl
typing_extensions
urllib3
wheel
yt-dlp
